<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <svg style="position: absolute; width: 0; height: 0;" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
    <symbol id="icon-tag" viewBox="0 0 16 16">
    <title>tag</title>
    <path class="path1" d="M15.25 0h-6c-0.412 0-0.989 0.239-1.28 0.53l-7.439 7.439c-0.292 0.292-0.292 0.769 0 1.061l6.439 6.439c0.292 0.292 0.769 0.292 1.061 0l7.439-7.439c0.292-0.292 0.53-0.868 0.53-1.28v-6c0-0.412-0.338-0.75-0.75-0.75zM11.5 6c-0.828 0-1.5-0.672-1.5-1.5s0.672-1.5 1.5-1.5 1.5 0.672 1.5 1.5-0.672 1.5-1.5 1.5z"></path>
    </symbol>
    </defs>
    </svg>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <div class="tags">
      <ul>
        {% for tags in page.tags %}
          <li>
            <svg class="icon icon-tag">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-tag"></use>
            </svg>
             {{ tags }}
           </li>
        {% endfor %}
      </ul>
    </div>

    {% include footer.html %}

  </body>

</html>
