<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">

      <h1>Tag page: <span class="tag">
        <svg class="icon icon-tag">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-tag"></use>
        </svg>
        {{ page.tag }}
      </span></h1>

      {% for post in page.posts %}
      <div>
        <header class="post-header">
          <h2 class="post-title"><a href={{post.url}}>{{ post.title }}</a></h2>
          <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.meta %} • {{ post.meta }}{% endif %}</p>
        </header>

        <article class="post-content">
          {{ post.content }}
        </article>

      {% endfor %}

    </div>
  </div>
</div>

    {% include footer.html %}

  </body>

</html>
